@import 'rsuite/styles/index.less';
@import './assets/theme/custom-theme.less';
.App {
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;

  .main-content-search {
    margin: auto;
  }
}

.login-content {
  width: 100%;
  margin: auto;
  height: 100vh;
}

.My-NavBar {
  background: linear-gradient(to right, #ff00ff, #00ffff, #ffff00) !important;
  transition: background-color 1s initial !important;
}

.My-NavBar:hover {
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff) !important;
}

/* 滚动条凹槽的颜色，还可以设置边框属性 */
*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/* 滚动条的宽度 */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* 滚动条的设置 */
*::-webkit-scrollbar-thumb {
  background: var(--secondary);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  background-clip: padding-box;
}

/* 滚动条鼠标移上去 */
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

.content-header-navbar {
  &.rs-nav {
    width: fit-content;
    margin: auto;
  }

  &.rs-nav-subtle.rs-nav-horizontal .rs-nav-bar {
    border: none;
  }

  &.rs-nav-item.rs-nav-item-active {
    color: white;
  }
}

.content-header-btn {
  padding: 5px;
  justify-content: center;
}

.card-item {
  background-color: var(--card-item);
  margin: 10px 5px 10px 5px;
  transition: all 0.4s ease;
  .title {
    color: var(--text);
  }
}
.highlight {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.highlight::before {
  content: '';
  height: 50%;
  width: 100%;
  display: block;
  z-index: -5;
  opacity: 30%;
  position: absolute;
  transition: all 0.3s ease;
  background: linear-gradient(180deg, transparent 50%, var(--accent) 50%);
}
.two-col-layout-right-content {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.card-item:hover {
  transform: scale(1.03) translateY(-6px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  .title {
    color: red;
  }
  .highlight::before {
    transition: all 0.3s ease;
    height: 100%;
  }
}

.card-item-header {
  cursor: pointer;
  border-bottom: 1px solid red;
  display: flex;
  align-items: center;
}

.card-item-header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  color: #575757;
}

.card-item-tags {
  padding: 5px 0 5px 0;
  display: flex;
  overflow: auto;

  .rs-tag {
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 1px;
    height: 5px;
    background: white;
    scroll-behavior: smooth;
  }

  &::-webkit-scrollbar-corner,
    /* 滚动条角落 */
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    /* 滚动条轨道 */
    background-color: rgba(180, 160, 120, 0.1);
    box-shadow: inset 0 0 1px rgba(180, 160, 120, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    /* 滚动条手柄 */
    background-color: var(--accent);
  }
}

.search-input {
  &.rs-input-group-focus {
    border: none;
    outline: none;
  }

  &.rs-input:focus {
    border: none;
    outline: none;
  }
}

.search-input-btn {
  &.rs-input-group-btn:focus {
    background-color: transparent !important;
  }

  &.rs-input-group-btn:hover {
    background-color: transparent !important;
  }

  &.rs-input-group-btn:active {
    background-color: transparent !important;
  }
}
