:root {
    --text: rgb(5, 5, 5);
    --background: rgb(250, 250, 250);
    --secondaryBg: rgb(250, 250, 250);
    --primary: rgb(208, 139, 191);
    --secondary: rgb(219, 235, 240);
    --accent: rgb(154, 180, 75);
    --other: #f2e5ee;
    --linearGradient: linear-gradient(-45deg, var(--primary), var(--other), var(--accent), #23d5ab);
    --ff-base: 'Roboto', sans-serif;
    --ff-accent: 'Roboto', sans-serif;
}

body[data-theme='dark'] {
    --text: rgb(250, 250, 250);
    --other: #f2e5ee;
    --background: rgb(5, 5, 5);
    --secondaryBg: rgba(169, 164, 164, 0.15);
    --primary: rgb(208, 139, 191);
    --secondary: rgb(15, 31, 36);
    --accent: rgb(194, 210, 147);
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --text: rgb(250, 250, 250);*/
/*        --other: rgba(169, 164, 164, 0.15);*/
/*        --background: rgb(5, 5, 5);*/
/*        --secondaryBg: rgba(169, 164, 164, 0.15);*/
/*        --primary: rgb(208, 139, 191);*/
/*        --secondary: rgb(15, 31, 36);*/
/*        --accent: rgb(194, 210, 147);*/
/*    }*/
/*}*/

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: light dark;
}


body {
    /*background-color: var(--background);*/
    font-family: var(--ff-base);
    overflow: hidden;

}

body .card-item {
    background-color: var(--accent);
}